.container{
	margin-left: 40%;
	/*margin-top: 10%;*/
}

.labels-inputs{
	margin-left: 40%;
	margin-top: 5%;
	padding-left: 10px;
}

.form-control{
	width: 30%;
	text-align: center;
	margin-left: 0px;
}