<form class="labels-inputs" class="container" ng-controller="registerCtrl">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name"><br>

    <label for="username">Username</label>
    <input type="text" class="form-control" id="Username" name="Username"><br>

    <label for="email">E-mail</label>
    <input type="email" class="form-control" id="name" name="name"><br>

    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password"><br>

      <label for="password2">Confirm Password</label>
    <input type="password" class="form-control" id="password2" name="password2"><br>

    <button type="submit" class="btn btn-default">Submit</button>
  </div>
</form> 

<link rel="stylesheet" type="text/css" href="register.css">